<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Student Complaint</title>
</head>

<body>
  <div class="main flex h-100">
    <div class="text-white w-2/12 h-full">
      <div class="head flex flex-col items-center">
        <img class="mx-8 mt-6 border-white rounded-lg" src="../static/Images/student_profile_logo.png" alt="" />
        <h1 class="text-center text-gray-400 mt-3 font-bold">Tejas Padaki</h1>
      </div>

      <div class="bg-[#F5F7FB] px-4 py-2 mx-3 mt-10 rounded-3xl">
        <p class="font-bold flex justify-between py-2 px-5 my-4 border-2 text-black rounded-xl bg-[#ECF6FF]">
          <span class="font-bold"> 18</span> Not Visited
        </p>
        <p class="font-bold flex justify-between py-2 px-5 my-4 border-2 text-black rounded-xl bg-red-300">
          <span class="font-bold"> 19</span> Not Answered
        </p>
        <p class="font-bold flex justify-between py-2 px-5 my-4 border-2 text-black rounded-xl bg-purple-300">
          <span class="font-bold"> 15</span> Mark For Review
        </p>
        <p class="font-bold flex justify-between py-2 px-5 my-4 border-2 text-black rounded-xl bg-green-300">
          <span class="font-bold"> 5</span> Answered
        </p>
      </div>

      <div class="mx-10 my-[83px]">
        <div class="bg-[#ECF6FF] mt-5 rounded-xl">
          <a href="/Calculater.html"><p class="font-bold text-black px-8 py-4 text-center">Calculator</p></a>
        </div>
        <div class="bg-[#ECF6FF] mt-5 rounded-xl">
         <a href="https://www.geogebra.org/calculator" target="_blank"><p  class="font-bold text-black px-8 py-4 text-center">Geogebra</p></a> 
        </div>
      </div>
    </div>

    <div class="w-10/12 bg-gradient-to-br from-[#3a94bb] h-[100vh] to-[#00293b] ml-[150]">
      <div class="mx-10">
        <div class="head mt-10 flex justify-between">
          <div class="">
            <p class="font-bold text-5xl text-white">Quiz 1</p>
          </div>
          <div class="gap-10">
            <button class="bg-purple-500 px-5 py-4 rounded-xl">
              Remaining Time: 01.00.00
            </button>
            <button class="bg-red-600 px-4 py-1 rounded-xl text-white mx-5">
              Quit Quiz
            </button>
          </div>
        </div>
        <hr class="mt-4 border-[1.5px]" />


        <div class="q1 mt-10 bg-white rounded-xl px-10 py-4 mr-20">
          <p class="text-2xl font-bold px-10">Q1 For the four sets of three measured physical quantities as given below
            . Which of the following options is correct?</p>

          <form class="a1 mt-3 ">
            <p class="font-bold text-xl gap-2 mt-5"><input type="radio" name="radio" id="" class="p-3 w-7 h-5 mt-3">

              (i) A₁ = 24.36, B₁ = 0.0724, C₁ = 256.2</p>
            <p class="font-bold text-xl gap-2 mt-5"> <input type="radio" name="radio" id="" class="p-3 w-7 h-5 mt-3">
              (ii) A₂ = 24.44, B₂ = 16.082, C₂ = 240.2</p>
            <p class="font-bold text-xl gap-2 mt-5"> <input type="radio" name="radio" id="" class="p-3 w-7 h-5 mt-3">
              (iii) A₃ = 25.2, B₃ = 19.2812, C₃ = 236.183</p>
            <p class="font-bold text-xl gap-2 mt-5"> <input type="radio" name="radio" id="" class="p-3 w-7 h-5 mt-3">
              (iv) A₄ = 25, B₄ = 236.191, C₄ = 19.5</p>


          </form>
        </div>

        <div class="flex mt-6 gap-28">
          <div class="flex items-center bg-[#ECF6FF] px-3 py-1 rounded-xl">
            <button class="px-5 py-3 border-r-2 border-black"><img src="/Images/Arrow 2.svg" alt="" class="px-2 w-10">
            </button>
            <button class="px-5 py-3 "><img src="/Images/Arrow 2.svg" alt="" class="px-2 rotate-180 w-10"> </button>
          </div>
          <button class="bg-[#55FB9B] font-bold px-8 py-5 rounded-2xl text-white text-xl">Save & Next</button>
          <button class="bg-[#ECF6FF] font-bold px-8 py-5 rounded-2xl text-xl">Clear</button>
          <button class="bg-[#0075A9] font-bold px-8 py-5 rounded-2xl text-white text-xl">Save & Mark For
            Review</button>
        </div>

        <div class="flex justify-end mt-16 mr-20">
          <button class="bg-[#55fb9b] text-xl text-white py-4 px-10 rounded-3xl" type="submit">Submit</button>
        </div>
      </div>


    </div>
  </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>