<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Stundent Unit</title>
</head>

<body>
    <div class="main flex  bg-[#00293B]">
        <div class="   text-white md:w-[200px] w-full h-[100vh] ">
            <div class="head">
               <div class="flex flex-col justify-center items-center">
                    <img class=" mt-6 border-white rounded-lg w-20" src="../static/Images/moblie-teacher-profile.svg" alt="">
                    <h1 class="text-center text-gray-400 mt-3 font-bold ">Teacher's Name</h1>   
               </div>

                <nav class="mt-12 ">
                    <ul class="flex justify-center items-center flex-col">
                        <li class="mt-8 flex justify-center"><a href="/TeacherDashboard.html" class="text-center text-gray-400 flex justify-center items-center flex-col"><img class="w-8 "
                                    src="../static/Images/dashboard_logo.png" alt="">
                                Dashboard
                            </a> </li>
                        <li class="mt-8 flex items-center"><a href="/TeacherStudentReport.html" class="text-center text-gray-400 flex justify-center items-center flex-col"><img class="w-8 "
                                    src="../static/Images/Student-report.svg" alt="">
                                Student Report
                            </a></li>
                        <li class="mt-8 flex items-center"><a href="/TeacherCerifyApplication.html" class="text-center text-gray-400 flex justify-center items-center flex-col"><img class="w-8 "
                                    src="../static/Images/Application Form.svg" alt="">
                                Leave Application
                            </a></li>
                            <li class="mt-8 flex items-center"><a href="/TeacherCerifyApplication.html" class="text-center text-gray-400 flex justify-center items-center flex-col"><img class="w-8 "
                                src="../static/Images/logout.png" alt="">
                            Log Out
                        </a></li>
                </nav>


            </div>


        </div>



        <div class="w-full   bg-white rounded-l-3xl  ">
            <div class="flex items-center">
                <div class="mt-10 mx-24 w-[1000px] ">
                    <div class="bg-[#ECF6FF] rounded-2xl px-14 py-10 h-[550px]">
                        <div class="flex justify-between  ">
                            <p class="text-3xl font-bold">Quiz 1</p>
                            <select name="" id="" class="px-8 py-2 font-bold bg-white rounded-xl">
                                <option value="" class=" font-bold px-14">Time Limit</option>
                                <option value="" class=" font-bold px-14">1:00</option>
                                <option value="" class=" font-bold px-14">2:00</option>
                                <option value="" class=" font-bold px-14">10:00</option>
                                <option value="" class=" font-bold px-14">30:00</option>
                            </select>
                        </div>
                        <div class="mt-8 flex justify-between">
                            <div class="">
                                <p class="text-xl font-bold  ">Unit Name</p>
                                <hr class="border-black w-56 border-[2px] mt-7">
                            </div>

                            <select name="" id="" class="px-8 py-2 font-bold w-72  rounded-xl">
                                <option value="" class=" font-bold px-14">Quetion Type</option>
                                <option value="" class=" font-bold px-14">1:00</option>
                                <option value="" class=" font-bold px-14">2:00</option>
                                <option value="" class=" font-bold px-14">10:00</option>
                                <option value="" class=" font-bold px-14">30:00</option>
                            </select>

                        </div>
                        <div class="bg-white w-1/2 rounded-xl py-2 px-8 mt-12">
                            <div class="flex justify-between">
                                <p class="font-bold text-xl">Add Question</p>
                                <img src="../static/Images/Icon.svg" alt="Icon" class="w-5">
                            </div>
                            <hr class="border-black mt-1 border-[1px]">

                           <div class="">
                            <p class="flex gap-2 font-bold mt-5 text-xl"> <input type="radio" name="Optins" id="" class="">Option 1 </p>
                            <p class="flex gap-2 font-bold mt-5 text-xl"><input type="radio" name="Optins" id="" class="">Option 2</p>
                            <p class="flex gap-2 font-bold mt-5 mb-9 text-xl"><input type="radio" name="Optins" id="" class="">Add More or Add other</p>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="bg-sky-100 py-5 px-5 rounded-xl flex flex-col items-center">
                        <img src="../static/Images/Plus circle.svg" alt="" class="mt-8 w-6">
                        <img src="../static/Images/Columns.svg" alt="" class="mt-8 w-6">
                        <img src="../static/Images/Image.svg" alt="" class="mt-8 w-6">
                        <img src="../static/Images/Youtube.svg" alt="" class="mt-8 w-6">
                        <img src="../static/Images/Text.svg" alt="" class="mt-8 w-6 mb-10">
                </div>
            </div>

            <div class="flex gap-96 ml-52 mt-10">
                <a href="" class=""><button class="bg-[#F5F7FB] py-4 px-8 text-xl font-bold rounded-2xl">LaTeX Editor</button></a>
              <a href="" class=""><button class="bg-[#55FB9B] py-4 px-8 text-xl font-bold rounded-2xl">Upload Quiz</button></a>  
            </div>
        </div>





    </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>