<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="style.css">
    <title>Student Dashboard</title>
</head>
<body>
        <div class="main flex  bg-[#00293B] overflow-hidden">
            <div class="  bg-rgb(0, 41, 59) text-white h-[100vh] w-[150px] max-[500px]:hidden ">
                <div class="head ">
                    <img class="mx-8 mt-6 border-white rounded-lg object-center md:ml-12 w-20 md:size-12" src="../static/Images/moblie-teacher-profile.svg" alt="">
                    <h1 class="text-center text-gray-400 mt-3 font-bold ">{{ session.name }}</h1>
    
                    <nav class="mt-12 ">
                        <ul class="flex justify-center items-start ">
                            <li class="mt-8 md:flex justify-center"><a href="/TeacherDashboard.html"><img class="md:size-8 mx-8"
                                        src="../static/Images/dashboard_logo.png" alt=""  >
                                    <p class="text-center text-gray-400">Dashboard</p>
                                </a> </li>
                            <!-- <li class="mt-8 flex items-center"><a href="/TeacherStudentReport.html"><img class="w-8 mx-8"
                                        src="/Images/Student-report.svg" alt="">
                                    <p class="text-center  text-gray-400">Student Report</p>
                                </a></li> -->
                            <!-- <li class="mt-8 flex items-center"><a href="/TeacherCerifyApplication.html"><img class="w-8 mx-8"
                                        src="/Images/Application Form.svg" alt="">
                                    <p class="-ml-2 text-center text-gray-400">Leave Application</p>
                                </a></li> -->
                                <li class="text-center absolute bottom-6 text-gray-400"> <a href="/logout" class="flex justify-center items-center flex-col"><img class="md:size-8" src="../static/Images/logout.png" alt="" >Logout</a></li>
                    </nav>
    
                  
                </div>
    
    
            </div>



            <div class="w-11/12 bg-white rounded-l-3xl max-[500px]:w-full max-[500px]:bg-[#00293B] ">

                <div class="min-[500px]:hidden">
                    <div class="md:hidden block max-[500px]:mt-2 max-[500px]:flex max-[500px]:justify-end max-[500px]:mx-5">
                        <button class="min-[500px]:hidden text-3xl text-white" onclick="toggleSidebar()"><i class="fa-solid fa-bars"></i></button>
        
                        <nav class="">
                            <ul class=" gap-10 px-10 bg-[#00293ba6] text-white font-bold font-serif py-2 absolute top-0 right-0 h-full w-full z-[999] flex-col items-center justify-start backdrop-blur hidden slider" >
                            <a href="" class=" absolute right-4 text-xl"><li class="" onclick="cancel()"><i class="fa-solid fa-x"></i></li></a>
                            <a href="#" class="text-xl flex gap-4 items-center justify-around mt-20 "><img src="/static/Images/dashboard_logo.png" alt="dashboard_logo" class="w-7">Dashboard</a>
                            <a href="/logout" class="text-xl  flex gap-4 items-center justify-around"><img src="/static/Images/logout.png" alt="logout" class="w-7">logout</a>
        
                            <div id="codequell" class="flex flex-col items-center mt-4 w-full text-center space-y-2 absolute bottom-4">
                                <span class="text-sm">Developed By</span>
                                <img src="../static/Images/codequell.png" alt="CodeQuell" class="h-5 md:h-7">
                                <span class="text-xs text-white">&copy; 2024 CodeQuell. All Rights Reserved.</span>
                            </div>
        
                        </nav>
                    </div>
        
                   
                </div>

                <div class="head flex justify-between mt-4 mx-6 max-[500px]:flex-col max-[500px]:gap-10 max-[500px]:mb-5 max-[500px]:mt-4 ">
                    <p class="font-bold text-2xl max-[500px]:text-white max-[500px]:font-serif">Upload Marks</p>
                    <p class="font-bold bg-[#F5F7FB] text-gray-500 px-2 rounded-3xl max-[500px]:text-center">Computer Science & Engineering </p>
                    
                </div>

                <div class="mx-32 max-[500px]:bg-white max-[500px]:w-full max-[500px]:px-5 max-[500px]:mx-0 max-[500px]:border max-[500px]:rounded-t-[40px] max-[500px]:pb-24 ">
                  <div class="mt-6">
                    <p class="font-bold text-2xl ">Internal Marks</p>

                    <div class="my-8">
                      <p class="font-bold text-xl">TY CSE B</p>
                    </div>
                  </div>
                    <div class="flex justify-around mt-20 max-[500px]:overflow-x-auto max-[500px]:gap-5 max-[500px]:py-6">
                        <div class="flex justify-around items-center">
                            <a href="" class="md:flex items-center  bg-gray-100 w-48 py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-1.png" alt="">
                            <p class="text-center font-bold">CAT 1</p></a>
        
                        </div>
                        <div class="flex justify-around items-center" >
                            <a href="" class="md:flex items-center  bg-gray-100 w-48  py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-2.png" alt="">
                            <p class="text-center font-bold">Re-CAT 1</p></a>

                        </div>
                        <div class="flex justify-around items-center">
                            <a href="" class="md:flex items-center  bg-gray-100 w-48 py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-3.png" alt="">
                            <p class="text-center font-bold">FET 1</p></a>
                        
                        </div>
                    </div> 

                    <div class="flex justify-around mt-10 max-[500px]:overflow-x-auto max-[500px]:gap-5 max-[500px]:py-6">
                        <div class="flex justify-around items-center">
                            <a href="" class="md:flex items-center  bg-gray-100 w-48 py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-1.png" alt="">
                            <p class="text-center font-bold">CAT 2</p></a>
        
                        </div>
                        <div class="flex justify-around items-center" >
                            <a href="" class="md:flex items-center  bg-gray-100 w-48  py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-2.png" alt="">
                            <p class="text-center font-bold">Re-CAT 2</p></a>

                        </div>
                        <div class="flex justify-around items-center">
                            <a href="" class="md:flex items-center  bg-gray-100 w-48 py-4 md:py-2 px-3 gap-5 rounded-xl max-[500px]:flex"> <img class="md:size-8 max-[500px]:w-10" src="../static/Images/subject-3.png" alt="">
                            <p class="text-center font-bold">FET 2</p></a>
                        
                        </div>
                    </div>


                    <div class="flex  mt-20 ml-32 max-[500px]:ml-0 max-[500px]:justify-center">
                        <button
                            class="bg-[#00293B] sm:text-lg sm:px-5 lg:px-10 py-2 text-xl text-white rounded-xl max-[500px]:px-5 "
                            type="submit">Generate complete list</button>
                    </div>

                    
                </div>


            </div>

        

        </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    function toggleSidebar(){
   const slid = document.querySelector(".slider");
   slid.style.display='flex';
}

function cancel(){
   const close = document.querySelector(".slider")
   sild.style.display='none'
}
</script>
</html>