<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Stundent Dashboard</title>
  </head>
  <style>
    .main {
      animation: a3 1s ease-in-out 0s 1;
    }

    @keyframes a3 {
      0% {
        background-color: white;
      }

      100% {
      }
    }

    #navbar {
      animation: a1 2s ease-in-out 0.1s 1;
    }

    @keyframes a1 {
      0% {
        margin-top: 700px;
      }

      100% {
      }
    }

    #middle {
      animation: a2 2s ease-in-out 0.2s 1;
    }

    @keyframes a2 {
      0% {
        margin-top: 700px;
      }

      100% {
      }
    }

    #right-side {
      animation: a3 2s ease-in-out 0.4s 1;
    }

    @keyframes a3 {
      0% {
        margin-top: 700px;
      }

      100% {
      }
    }
  </style>
  <body>
    <div class="main min-[500px]:flex h-[100vh] bg-[#00293B]">
      <div
        class="bg-rgb(0, 41, 59) text-white w-1/12 max-[500px]:hidden"
        id="navbar"
      >
        <div
          class="head max-[500px]:hidden flex flex-col justify-center items-center"
        >
          <a
            href="/TeacherProfile.html"
            class="flex flex-col justify-center items-center"
          >
            <img
              class="mt-6 border-white rounded-lg w-16"
              src="../static/Images/moblie-teacher-profile.svg"
              alt=""
            />
            <h1 class="text-center text-gray-400 mt-3 font-bold">
              {{ session.name }}
            </h1>
          </a>

          <nav class="mt-12">
            <ul class="flex justify-center items-center flex-col">
              <!-- <li class="mt-8  text-center text-gray-400"><a href="/TeacherDashboard.html" class="flex justify-center items-center flex-col"><img class="w-8 " src="../static/Images/dashboard_logo.png" alt=""> Dashboard</a> </li> -->
              <li class="text-gray-400 text-center">
                <a
                  href="/teacher-dashboard"
                  class="flex flex-col justify-center items-center"
                  ><img
                    src="../static/Images/dashboard_logo.png"
                    alt=""
                    class="w-8"
                  />Dashboard</a
                >
              </li>
              <li class="absolute bottom-4 text-center text-gray-400">
                <a
                  href="/logout"
                  class="flex justify-center items-center flex-col"
                  ><img
                    class="w-8"
                    src="../static/Images/logout.png"
                    alt=""
                  />Logout</a
                >
              </li>
            </ul>
          </nav>
        </div>

        <!-- <div class="min-[501px]:hidden mobile bg-[#00293B] ">

                <div class="header py-2 px-2">
                    <div class="flex justify-between items-center">
                        <img src="../static/Images/Calendar.svg" alt="Calendar" class="">
                        <img src="../static/Images/mobile-annoucement.svg" alt="" class="w-10 h-10">
                        
                    </div> 
    
                    <div class="flex justify-between items-center px-3">
                        <p class="text-white font-bold text-2xl">Hi {{ session.name }}</p>
                        <img src="../static/Images/teacher-profile.png" alt="teacher-profile" class="">
                    </div>
    
                    <div class="">
                        <p class="bg-white inline px-[6px] rounded-xl text-gray-400 font-serif py-1">Computer Science & Engineering</p>
                    </div>
    
    
    
                </div>
            </div> -->
      </div>
      <div class="min-[501px]:hidden mobile bg-[#00293B]">
        <div class="header py-2 px-2">
          <div class="flex justify-between items-center">
            <img src="../static/Images/Calendar.svg" alt="Calendar" class="" />
            <img
              src="../static/Images/mobile-annoucement.svg"
              alt=""
              class="w-10 h-10"
            />
          </div>

          <div class="flex justify-between items-center px-3">
            <p class="text-white font-bold text-2xl">Hi {{session.name}}</p>
            <img
              src="../static/Images/moblie-teacher-profile.svg"
              alt="teacher-profile"
              class=""
            />
          </div>

          <div class="mb-5">
            <p
              class="bg-white inline px-[6px] rounded-xl text-gray-400 font-serif py-1"
            >
              Computer Science & Engineering
            </p>
          </div>
        </div>
      </div>

      <div
        class="w-9/12 max-[500px]:w-full bg-white rounded-l-3xl max-[500px]:rounded-t-[40px] max-[500px]:h-[100vh] max-[500px]:pt-[5px]"
        id="middle"
      >
        <div class="head flex justify-between mt-4 mx-6 max-[500px]:hidden">
          <p class="font-bold bg-[#F5F7FB] flex items-center px-2 rounded-3xl">
            Computer Science & Engineering
          </p>
          <div class="flex justify-evenly gap-4">
            <p class="text-gray-500">17 July 2024 , Wednesday</p>
            <a href=""
              ><img src="../static/Images/Bell.png" class="w-7" alt=""
            /></a>
          </div>
        </div>

        <div class="flex justify-around mt-6 max-[500px]:hidden">
          <div class="flex justify-around items-center">
            <a
              href="/TeacherSubject.html"
              class="flex items-center bg-sky-100 w-48 2xl:py-4 md:py-2 px-3 gap-5 rounded-xl mt-0"
            >
              <img
                class="md:size-8"
                src="../static/Images/subject-1.png"
                alt=""
              />
              <p class="text-center">Mathematics</p></a
            >
          </div>
          <div class="flex justify-around items-center">
            <a
              href=""
              class="flex items-center bg-sky-100 w-48 2xl:py-4 md:py-2 px-3 gap-5 rounded-xl mt06"
            >
              <img
                class="md:size-8"
                src="../static/Images/subject-2.png"
                alt=""
              />
              <p class="text-center">AI</p></a
            >
          </div>
          <div class="flex justify-around items-center">
            <a
              href=""
              class="flex items-center bg-sky-100 w-48 2xl:py-4 md:py-2 px-3 gap-5 rounded-xl mt-0"
            >
              <img
                class="md:size-8"
                src="../static/Images/subject-3.png"
                alt=""
              />
              <p class="text-center">Data Science</p></a
            >
          </div>
        </div>

        <div
          class="flex justify-around max-[500px]:justify-center max-[500px]:gap-4 mt-16 md:mt-8 2xl:mt-14 max-[500px]:mx-4 max-[500px]:mt-5"
        >
          <div
            class="bg-sky-100 max-[500px]:bg-white w-96 max-[500px]:w-52 max-[500px]:border-[#5278C1] max-[500px]:border-2 rounded-3xl"
          >
            <div
              class="head flex justify-around max-[500px]:max-[500px]:justify-center max-[500px]:gap-4 m-6 max-[500px]:m-2 max-[500px]: md:mt-5 mb-0 items-center"
            >
              <h1 class="font-bold max-[500px]:text-[12px]">
                Upload Attendance
              </h1>
              <img
                src="../static/Images/rightArrow.png"
                class="size-4"
                alt=""
              />
            </div>

            <div class="2xl:mt-8 md:mt-0">
              <a href="../templates/teacher-update-attendance.html">
                <div
                  class="flex justify-around max-[500px]:justify-center max-[500px]:gap-5 px-2 gap-6 mt-6 md:mt-3 items-center"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'A'</p>

                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>

              <hr
                class="border-2 w-80 ml-6 my-4 border-gray-400 rounded max-[500px]:w-24"
              />

              <a href="../templates/teacher-update-attendance.html">
                <div
                  class="flex justify-around gap-6 px-2 mt-6 md:mt-3 items-center max-[500px]:max-[500px]:justify-center max-[500px]:gap-5"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'B'</p>

                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>

              <hr
                class="border-2 w-80 ml-6 my-4 border-gray-400 rounded max-[500px]:w-24"
              />

              <a href="../templates/teacher-update-attendance.html">
                <div
                  class="flex justify-around gap-6 px-2 my-4 items-center max-[500px]:max-[500px]:justify-center max-[500px]:gap-5"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'C'</p>
                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>
            </div>
          </div>

          <div
            class="bg-sky-100 max-[500px]:bg-white max-[500px]:border-[#5278C1] max-[500px]:border-2 w-96 max-[500px]:w-52 rounded-3xl"
          >
            <div
              class="head flex justify-around max-[500px]:justify-center max-[500px]:gap-4 max-[500px]:m-2 m-6 md:mt-5 mb-0 items-center"
            >
              <h1 class="font-bold max-[500px]:text-[12px]">Input Marks</h1>
              <img
                src="../static/Images/rightArrow.png"
                class="size-4"
                alt=""
              />
            </div>

            <div class="2xl:mt-8 2xl:mb-10 md:mt-0">
              <a href="/update-marks">
                <div
                  class="flex justify-around px-2 gap-6 mt-6 md:mt-3 items-center max-[500px]:justify-center max-[500px]:gap-5"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'A'</p>

                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>

              <hr
                class="border-2 w-80 ml-6 my-4 border-gray-400 rounded max-[500px]:w-24"
              />

              <a href="/update-marks">
                <div
                  class="flex justify-around gap-6 px-2 mt-6 md:mt-3 items-center max-[500px]:justify-center max-[500px]:gap-5"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'B'</p>

                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>

              <hr
                class="border-2 w-80 ml-6 my-4 border-gray-400 rounded max-[500px]:w-[100px]"
              />

              <a href="/update-marks">
                <div
                  class="flex justify-around gap-6 px-2 my-4 md:mt-3 items-center max-[500px]:justify-center max-[500px]:gap-5"
                >
                  <p class="max-[500px]:text-[12px]">TY CSE 'C'</p>
                  <img src="../static/Images/icon.png" alt="" class="size-2" />
                </div>
              </a>
            </div>
          </div>
        </div>

        <div
          class="bottom mt-4 flex justify-center items-center mx-16 2xl:mt-14 2xl:mb-10 max-[500px]:hidden"
        >
          <div class="bg-sky-100 mt-4 w-[250px] rounded-xl">
            <p
              class="flex items-center justify-around w-[200px] mt-4 font-bold text-xl mx-5"
            >
              <img src="../static/Images/Annoucement.png" alt="" class="w-8" />
              Announcement
            </p>
            <p
              class="bg-[#FADADA] px-4 rounded-l mt-8 2xl:mb-4 flex text-center mx-5 font-bold"
            >
              + Add Announcement
            </p>
          </div>

          <div
            class="bg-sky-100 p-3 rounded-xl my-10 md:my-2 ml-48 md:ml-32 pb-4"
          >
            <a href="/TeacherCerifyApplication.html"
              ><p class="text-center font-bold">Application</p></a
            >

            <div class="flex justify-around items-center">
              <div
                class="border-r-2 border-black px-2 flex flex-col justify-center items-center"
              >
                <img
                  class="w-14 md:w-10 object-center"
                  src="../static/Images/Notes.png"
                  alt=""
                />
                <p class="text-center text-[14px] px-6">Leave Application</p>
              </div>
              <div
                class="border-r-2 border-black px-2 flex flex-col justify-center items-center"
              >
                <img
                  class="w-14 md:w-10 object-center"
                  src="../static/Images/Notes.png"
                  alt=""
                />
                <p class="text-center text-[14px] px-6">ID Application</p>
              </div>
              <a href="/TeacherComplaint.html">
                <div class="px-2 flex flex-col justify-center items-center">
                  <img
                    class="w-14 md:w-10"
                    src="../static/Images/Notes.png"
                    alt=""
                  />
                  <p class="text-center text-[14px] px-6">Complaint</p>
                </div>
              </a>
            </div>
          </div>

          <div></div>
        </div>

        <div class="for-moblie min-[500px]:hidden mt-6">
          <div class="flex justify-around items-center">
            <div class="bg-[#F5F6FC] pl-5 py-5 rounded-2xl w-32 h-32">
              <img
                src="/static/Images/Subject.svg"
                alt="Subject"
                class="w-14 h-14"
              />
              <p class="">Subject</p>
            </div>
            <div class="bg-[#F5F6FC] pl-5 py-5 rounded-2xl w-32 h-32">
              <img src="/static/Images/Notes.png" alt="Notes" class="w-10" />
              <p class="">Notes</p>
            </div>
          </div>

          <div class="flex justify-around items-center mt-5">
            <div class="bg-[#F5F6FC] pl-5 pt-10 w-32 h-32 rounded-2xl">
              <img
                src="/static/Images/time-table.svg"
                alt="Subject"
                class="w-8"
              />
              <p class="mt-2">Time Table</p>
            </div>
            <div class="bg-[#F5F6FC] pl-5 py-5 w-32 h-32 rounded-2xl">
              <img
                src="/static/Images/Studebt-Report.svg"
                alt="Notes"
                class="w-10"
              />
              <p class="">Student Report</p>
            </div>
          </div>

          <div class="flex justify-around items-center mt-5">
            <div class="bg-[#F5F6FC] pl-3 py-3 w-32 h-32 rounded-2xl">
              <img
                src="/static/Images/Annoucement.svg"
                alt="Subject"
                class="w-8"
              />
              <p class="">Add Announcement</p>
            </div>
            <div class="bg-[#F5F6FC] pl-5 py-5 w-32 h-32 rounded-2xl">
              <img src="/static/Images/Notes.png" alt="Notes" class="w-10" />
              <p class="">Verify Applications</p>
            </div>
          </div>

          <div class="bg-[#F5F6FC] mt-10 mx-10"></div>
        </div>
      </div>

      <div
        class="w-2/12 bg-sky-50 p-1 h-[100vh] md:pl-2 max-[500px]:hidden"
        id="right-side"
      >
        <div class="flex justify-end">
          <a href=""
            ><img src="../static/Images/Annoucement.png" alt="" class="md:w-8"
          /></a>
        </div>

        <div class="timetable">
          <h1 class="font-bold">Time Table</h1>
          <!-- <img class="mt-2" src="/Images/TimeTable.svg" alt=""> -->
          <div
            class="md:w-44 h-32 flex justify-center items-center bg-[#d4d4d4] 2xl:m-5 md:m-1"
          >
            <img
              src="../static/Images/codequell.png"
              alt="CodeQuell"
              class="h-5 md:h-7"
            />
          </div>
        </div>

        <div class="cal mt-5 md:mt-2 p-2">
          <h1 class="font-bold">Calender</h1>
        </div>

        <div class="bg-white 2xl:m-5 md:mt-1 2xl:p-5 md:p-2">
          <p class="text-black text-center 2xl:mt-1 md:mt-[1px]">Thu</p>
          <p
            class="text-black text-center 2xl:mt-1 md:mt-[1px] font-bold 2xl:text-3xl md:text-lg"
          >
            4-6
          </p>
          <p
            class="text-black text-center 2xl:mt-1 md:mt-[1px] font-bold 2xl:text-xl md:text-base"
          >
            August
          </p>
          <div class="flex justify-evenly items-center">
            <p class="w-2 h-2 bg-red-600 mt-2 rounded-3xl"></p>
            <p class="text-black text-center md:text-sm mt-1">CAT Exam</p>
          </div>
        </div>
        <div class="bg-white 2xl:mt-8 2xl:m-5 md:mt-2 2xl:p-5 md:p-2">
          <p class="text-black text-center 2xl:mt-1 md:mt-[1px]">Sat</p>
          <p
            class="text-black text-center 2xl:mt-1 md:mt-[1px] font-bold 2xl:text-3xl md:text-xl"
          >
            7
          </p>
          <p
            class="text-black text-center 2xl:mt-1 md:mt-[1px] font-bold 2xl:text-xl md:text-lg"
          >
            September
          </p>
          <div class="flex justify-around items-center">
            <p class="w-2 h-2 bg-blue-400 mt-2 rounded-3xl"></p>
            <p class="text-black text-center md:text-sm mt-1">
              Ganesh Chaturthi
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
